.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: rgba(119, 62, 199, 1);
  color: antiquewhite;
}

.navbar_links {
  display: flex;
}

.navbar_link {
  padding: 0 1rem;
  color: rgba(208, 203, 207, 0.8);
}
.navbar_burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: inherit;
}
.navbar_logo img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 700px) {
  .navbar_logo img {
    width: 60px;
    height: 60px;
  }
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vh;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: rgba(119, 62, 199, 1);
    transition: all 0.8s;
  }
  .navbar_item {
    padding: 10px;
  }
  .show-nav .navbar_links {
    width: 100vw;
    right: 0;
    visibility: visible;
  }
  .navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 5vw;
    height: 1px;
    background-color: rgba(208, 203, 207, 0.8);
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 30px;
  }
  .navbar_burger {
    display: block;
  }
  .navbar_burger:hover {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: rgba(208, 203, 207, 0.8);
    transition: linear 0.5s;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
  .show-nav .burger-bar {
    background: transparent;
  }
  .navbar_item {
    transform: translateY(100vh);
  }
  .show-nav .navbar_item {
    transform: translateY(0);
  }
  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }
  .show-nav .border{
    color: aqua;
  }
}
